# Vendor files
/vendor
/node_modules

# Public directory
/public

# Storage
/storage

# Build files
/bootstrap/cache/
/.phpunit.cache/

# Laravel generated
_ide_helper*.php
.phpstorm.meta.php
/.vagrant

# Environment files
.env
.env.*
!.env.example

# Others
/coverage
.DS_Store
Thumbs.db
